body {
	margin: 0;
	padding: 0;
	background-color: #ccc;
}

/* 版心 */
.type-area {
	width: 600px;
	margin: 0 auto;
}

header {
	min-width: 1100px;
	background-color: #333;
}
header div {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header label {
	color: #eee;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
}
header input {
	width: 300px;
	height: 24px;
	padding-left: 12px;
	outline: 0;
	border-radius: 12px;
}

#test {
	position: absolute;
	left: 50px;
	width: 100px;
	outline: 0;
}

.content {
	display: flex;
	width: 1100px;
	margin: 0 auto;
	justify-content: space-around;
}
section {
	width: 530px;
}

/* 虚拟列表加的样式 */
.toDoContainer,
.doneContainer {
	height: 600px;
	overflow: auto;
}

/* todoList */
ul {
	margin: 0;
	padding: 0;
	/* 在调试虚拟列表 */
	/* max-height: 800px;
	overflow-y: auto; */
}
li {
	list-style: none;
	width: 495px;
	min-height: 40px;
	margin-bottom: 10px;
	border-left: 5px solid rgb(19, 143, 122);
	background-color: #fff;
	display: flex;
	align-items: center;
	border-radius: 5px;
	cursor: move;
	animation: add 1s;
}
@keyframes add {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

li input {
	height: 20px;
	width: 20px;
	margin: 0;
	margin-left: 10px;
	cursor: pointer;
}
li p {
	margin: 0;
	margin-left: 7px;
	width: 420px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}
li a {
	color: #fff;
	display: inline-block;
	height: 26px;
	width: 26px;
	background-color: #bbb;
	text-decoration: none;
	text-align: center;
	line-height: 26px;
	border-radius: 13px;
}

#doneList li {
	border-left-color: darkgrey;
	animation: doneAdd 1s;
	opacity: 0.5;
}
@keyframes doneAdd {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.5;
	}
}
#toDoCount,
#doneCount {
	height: 26px;
	line-height: 26px;
	text-align: center;
	float: right;
	font-size: 14px;
	color: #555;
	width: 26px;
	background-color: #fff;
	border-radius: 26px;
}

h3 a {
	margin-left: 10px;
	text-decoration: none;
	font-size: 16px;
	color: rgb(124, 124, 124);
	font-weight: 400;
}
h3 a:hover {
	color: #fff;
}
